name: golangci-lint

on:
  push:
    branches:
      - 'release/**'
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'config/**'
      - 'docs/**'
      - 'media/**'
      - '.gitignore'
      - '.gitattributes'
      - '.release-please-manifest.json'
      - 'release-please-config.json'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'config/**'
      - 'docs/**'
      - 'media/**'
      - '.gitignore'
      - '.gitattributes'
      - '.release-please-manifest.json'
      - 'release-please-config.json'
  workflow_dispatch:
    inputs:
      tags:
        description: 'Tag for manual workflow run'
        required: true
        type: string 

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: install golangci-lint
        run: go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
      - name: run golangci-lint
        run: golangci-lint run
