name: golangci-lint

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'media/**'
      - '.release-please-manifest.json'
      - 'release-please-config.json'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'media/**'
      - '.release-please-manifest.json'
      - 'release-please-config.json'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args:  --config=${{ github.workspace }}/.golangci.yml
          version: 2.8